/* Style Général */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --first-green-clr: #379237;
  --second-green-clr: #54B435;
  --titles-clr: #0F172A;
  --section-clr: #EDFBE2;
  --light-black-clr: #222222;
  --hover-trans-time: 0.3s;
  --section-padding: 100px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
}

p {
  line-height: 1.7;
  color: #4C565A;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Style Général */

/* Composants */

.container {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */

/* @media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
} */

/* @media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
} */

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--section-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transition: all 0.7s;
}

.preloader.fade-out {
  opacity: 0;
}

.preloader.hidden {
  display: none;
}

.spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--second-green-clr);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}


@keyframes l3 {to{transform: rotate(1turn)}}

.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 32px;
  height: 32px;
  background-color: var(--titles-clr);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.scroll-to-top svg {
  width: 24px;
  height: 9px;
  transform: rotate(180deg);
  fill: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(15, 23, 42, 0.8);
  z-index: 5;
}

.menu-btn {
  cursor: pointer;
  display: none;
}

.menu-btn svg {
  width: 30px;
  height: 30px;
  fill: var(--second-green-clr);
}

.menu-btn svg.hidden {
  display: none;
}

.special-btn {
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: var(--titles-clr);
  background-color: var(--second-green-clr);
  border-radius: 30px;
  transition: all var(--hover-trans-time);
}

.big-title p {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--titles-clr);
}

.big-title h2 {
  font-size: 54px;
  color: var(--titles-clr);
}

.swiper-pagination-bullet-active {
  background-color: var(--second-green-clr) !important;
}

.swiper-button-next {
  position: absolute;
  right: 0 !important;
}

.swiper-button-prev {
  position: absolute;
  left: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  transition: all var(--hover-trans-time);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.8;
}


.swiper-button-next svg,
.swiper-button-prev svg {
  background-color: var(--section-clr);
  padding: 0.4rem;
  color: var(--titles-clr) !important;
}


/* Composants */

/* Effects Hover */

.landing nav ul a.active,
.landing nav ul li:not(:last-of-type) a:hover {
  color: var(--first-green-clr);
}

.landing nav ul li:not(:last-of-type) a:hover::before {
  width: 90%;
}

.special-btn:hover {
  background-color: var(--first-green-clr);
}

.contact .contact-form form input:hover,
.contact .contact-form form textarea:hover {
  border-color: var(--second-green-clr);
}

footer .informations div:nth-child(2) a:hover {
  color: var(--second-green-clr);
}

/* Effects Hover */


/* Landing Section */

.landing {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.landing.landing-acceuil {
  height: 85vh;
}

.landing.landing-contact {
  background-image: url(../images/Contact-landing.jpg);
  height: 70vh;
}

.landing .slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.05);
  transition: all 1.6s;
}

.landing .slide-image.active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.landing .container {
  position: relative;
  height: 100%;
  z-index: 10;
}

.landing nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing nav .logo img {
  display: inline-block;
  max-width: 130px;
}

.landing nav ul {
  display: flex;
  align-items: center;
}

.landing nav ul li:not(:last-of-type) a {
  position: relative;
  display: inline-block;
  padding: 2rem 1rem;
  transition: all var(--hover-trans-time);
  overflow: hidden;
}

.landing nav ul li:not(:last-of-type) a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 0;
  background-color: var(--first-green-clr);
  transition: all var(--hover-trans-time);
}

.landing nav ul li:last-of-type a {
  margin-left: 20px
}

.landing .content {
  width: 100%;
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing .content h1 {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 5rem;
  color: #fff;
}

.landing .content p {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1rem;
  color: #fff;
}

.landing > svg{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  fill: var(--section-clr);
  z-index: 10;
}

/* Landing Section */

/* About Section */

.about {
  position: relative;
  background-color: var(--section-clr);
  padding-bottom: var(--section-padding);
}

.about .qualities-box {
  position: relative;
  transform: translateY(-100px);
  padding: 2.125rem 3.125rem;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  z-index: 20;
}

.about .qualities-box .quality {
  text-align: center;
}

.about .qualities-box .quality .icon {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: var(--light-black-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .qualities-box .quality .icon svg {
  width: 28px;
  height: 28px;
  fill: var(--second-green-clr);
}

.about .qualities-box .quality h5 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: var(--titles-clr);
}

.about .qualities-box .quality p {
  margin-top: 0.5rem;
}

.about .about-us {
  display: flex;
  gap: 75px;
}

.about .about-us .image {
  width: 2300px;
}

.about .about-us img {
  max-width: 100%;
  border-radius: 24px;
}

.about .about-us .content .big-title h1 {
  margin-top: 1rem;
}

.about .about-us .content p {
  margin-top: 1rem;
  line-height: 2;
}

.about .about-us .content p span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--titles-clr);
}

/* About Section */

/* Projects Section */

.projets {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.projets .container .big-title {
  text-align: center;
}

.projets .container .projets-box {
  position: relative;
  margin-top: 4rem;
}

.projets .container .projets-box .projet {
  position: relative;
  padding: 2rem;
  width: 500px;
  height:  880px;
  aspect-ratio: 3/4;
}

.projets .container .projets-box .projet > img {
  width: 100%;
  border-radius: 24px 24px 150px 150px;
}

.projets .container .projet .content {
  width: 340px;
  min-height: 350px;
  margin: 0 auto;
  padding: 2.5rem 1.75rem;
  transform: translateY(-150px);
  background-color: var(--section-clr);
  text-align: center;
  border-radius: 24px;
}

.projets .container .projet .content img {
  width: 120px;
}

.projets .container .projet .content p {
  margin-top: 1rem;
}

.projets .container .projet .content a {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
  color: var(--titles-clr);
}

/* Projects Section */

/* Contact-acceuil Section */

.contact-acceuil {
  position: relative;
  background-image: url(../images/Accueil-contact.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact-acceuil .overlay {
  background-color: rgba(15, 23, 42, 0.5);
}

.contact-acceuil .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  z-index: 10;
}

.contact-acceuil .container h3 {
  font-size: 2.625rem;
  color: #fff;
}

.contact-acceuil .container p {
  max-width: 600px;
  margin-top: 10px;
  color: #fff;
}

/* Contact-acceuil Section */

/* Why Section */

.why-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #fff;
}

.why-us .container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.why-us .content h1 {
  max-width: 300px;
  margin-top: 1rem;
}

.why-us .content p {
  margin-top: 1rem;
  max-width: 460px;
}

.why-us .qualities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.why-us .qualities .quality {
  width: calc(50% - 20px);
  padding: 40px;
  background-color: var(--section-clr);
  border-radius: 24px;
}

.why-us .qualities .quality .icon {
  width: 64px;
  height: 64px;
  background-color: var(--titles-clr);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-us .qualities .quality .icon svg {
  width: 32px;
  height: 32px;
  fill: var(--second-green-clr);
}

.why-us .qualities .quality h5 {
  margin-top: 10px;
  font-size: 24px;
}

.why-us .qualities .quality p {
  margin-top: 10px;
}

/* Why Section */

/* Contact */

.contact {
  position: relative;
  background-color: var(--section-clr);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.contact .content {
  width: 50%;
}

.contact .content h2 {
  max-width: 98%;
  margin-top: 1rem;
}

.contact .content p {
  margin-top: 1rem;
}

.contact .contact-form {
  width: 50%;
}

.contact .contact-form form {
  padding: 2.5rem;
  box-shadow: 8px 0px 20px 4px rgba(0, 0, 0, 0.06);
  background-color: var(--section-clr);
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
}

.contact .contact-form form .field {
  width: calc(50% - 20px);
}

.contact .contact-form form .field:nth-child(5) {
  width: 100%;
}

.contact .contact-form form label {
  display: block;
  font-weight: 500;
  color: var(--titles-clr);
}

.contact .contact-form form .field:not(:last-of-type) input,
.contact .contact-form form .field:not(:last-of-type) textarea {
  width: 100%;
  margin-top: 10px;
  padding: 12px 12px;
  background-color: var(--section-clr);
  border-radius: 5px;
  outline: none;
  border: 1px solid #B2BEB1;
  transition: all var(--hover-trans-time);
}

.contact .contact-form form .field:last-of-type input {
  padding: 12px 14px;
  border: none; 
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer; 
}

.contact .contact-form form textarea {
  height: 118px;
  resize: none;
}

/* Contact */

/* Find Section */

.find-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #fff;
}

.find-us .big-title {
  text-align: center;
}

.find-us .content h1 {
  max-width: 300px;
  margin-top: 1rem;
}

.find-us .content p {
  margin-top: 1rem;
  max-width: 460px;
}

.find-us .informations {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.find-us .informations .info {
  width: 350px;
  height: 250px;
  padding: 40px;
  background-color: var(--section-clr);
  border-radius: 24px;
}

.find-us .informations .info .icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-color: var(--titles-clr);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-us .informations .info .icon svg {
  width: 32px;
  height: 32px;
  fill: var(--second-green-clr);
}

.find-us .informations .info h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
}

.find-us .informations .info p {
  text-transform: lowercase;
  text-align: center;
  margin-top: 10px;
}

.find-us iframe {
  width: 100%;
  margin-top: 4rem;
}


/* Find Section */

/* Footer */

footer {
  background-color: var(--light-black-clr);
  padding-top: var(--section-padding);
  padding-bottom: 50px;
}

footer p,
footer a {
  color: #FFFFFFB8;
}

footer h6 {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

footer .informations {
  position: relative;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 50px;
}

footer .informations::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #4b4b4bb8;
  border-radius: 10px;
}

footer .informations div:nth-child(1) a img{
  width: 100px;
}

footer .informations div:nth-child(1) p {
  max-width: 400px;
}

footer .informations div:nth-child(2) li,
footer .informations div:nth-child(3) li {
  margin-bottom: 1rem;
}

footer .informations div:nth-child(2) a {
  transition: all var(--hover-trans-time);
}

footer .informations div:nth-child(2) a.active {
  color: var(--second-green-clr);
}

footer .informations div:nth-child(3) li {
  display: flex;
  gap: 15px;
}

footer .informations div:nth-child(3) .icon {
  width: 40px;
  height: 40px;
  background-color: var(--second-green-clr);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .informations div:nth-child(3) .icon svg {
  width: 20px;
  height: 20px;
  fill: var(--titles-clr);
}

footer .informations div:nth-child(3) span {
  color: #fff;
  font-weight: 500;
}

footer .informations div:nth-child(3) p {
  margin-top: 0.3rem;
  max-width: 300px;
}

footer .bottom {
  margin-top: 1rem;
}

/* Footer */